<button type="button" class="btn btn-primary add" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Student
</button>
<div class="table">
<dx-data-grid
    (onExporting)="exportGrid($event)"
    [dataSource]="dataSource"
    keyExpr="id"
    #dataGridVar
    [allowColumnReordering]="true"
    [columnAutoWidth]="false"
    [showRowLines]="true"
    [repaintChangesOnly]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    >
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="4"> </dxo-paging>
    
    <dxi-column 
        dataField="profile_picture"
        [width]="100"
        [allowFiltering]="false"
        [allowSorting]="false"
        cellTemplate="cellTemplate"
        [allowEditing]="true"
    ></dxi-column>
    <dxi-column dataField="first_name" [width]="150">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="last_name" [width]="150">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="familyId" caption="Family" [width]="150">
        <dxo-lookup
            [dataSource]="FamilyData"
            valueExpr="id"
            displayExpr="name"
    ></dxo-lookup>
    <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="address" [width]="300">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="school">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="createdAt" dataType="datetime" caption="Enroll Date" [allowEditing]="false">
    </dxi-column>

    <div *dxTemplate="let data of 'cellTemplate'">
        <img [src]="data.value" style="height: 60px;width: 60px;border-radius: 50%;border: 2px solid rgb(22, 102, 139);"/>
      </div>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-editing mode="raw" [refreshMode]="refreshMode" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true"></dxo-editing>
    <dxo-export [enabled]="true"></dxo-export>
</dx-data-grid>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #myModalClose></button>
            </div>
            <div class="modal-body">
                <app-add-student (close)="closeModel()"></app-add-student>
            </div>
        </div>
    </div>
</div>