<form [formGroup]="addStudent" (ngSubmit)="studentSubmit()">
    <img [src]="url" alt="Avatar" class="center" onerror="src='assets/profile.png'">
    <br>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input [class.is-invalid]="first_name.touched && first_name.invalid" formControlName="first_name"
                    type="text" class="form-control form-control-sm" id="first_name" required placeholder="First name">
                <small [class.d-none]="first_name.valid || first_name.untouched" class="text-danger">First name reuired
                    and
                    must
                    contain more than 3
                    charactors<br></small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input [class.is-invalid]="last_name.touched && last_name.invalid" formControlName="last_name"
                    type="text" class="form-control form-control-sm" id="last_name" required placeholder="Last name">
                <small [class.d-none]="last_name.valid || last_name.untouched" class="text-danger">First name reuired
                    and
                    must
                    contain more than 3
                    charactors<br></small>
            </div>
        </div>
    </div><br>

    <div class="form-group">
        <label for="address">address</label>
        <input [class.is-invalid]="addStudent.get('address').invalid && addStudent.get('address').touched"
            formControlName="address" type="text" class="form-control form-control-sm" id="address" required
            placeholder="1234 Main St">
        <small [class.d-none]="addStudent.get('address').valid || addStudent.get('address').untouched"
            class="text-danger">Permenent address required</small>
    </div><br>

    <div class="form-group">
        <label for="school">school</label>
        <input [class.is-invalid]="addStudent.get('school').invalid && addStudent.get('school').touched"
            formControlName="school" type="text" class="form-control form-control-sm" id="school" required
            placeholder="1234 Main St">
        <small [class.d-none]="addStudent.get('school').valid || addStudent.get('school').untouched"
            class="text-danger">school required</small>
    </div><br>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="familyId">familyId</label>
                <select [class.is-invalid]="addStudent.get('familyId').invalid && addStudent.get('familyId').touched"
                    formControlName="familyId" class="form-control" id="familyId">
                    <option class="option" *ngFor="let fm of Families" [value]=fm.id>{{fm.name}}</option>
                </select>
                <small [class.d-none]="addStudent.get('familyId').valid || addStudent.get('familyId').untouched"
                    class="text-danger">Required</small>
            </div><br>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="image">Profile Picture</label>
                <input type="file" class="form-control" name="image" formControlName="image" multiple (change)="selectImage($event)" id="image"><br><br>
            </div>
        </div>
    </div>

    <button type="reset" class="btn btn btn-outline-dark">Reset</button>&nbsp;&nbsp;&nbsp;
    <button [disabled]="addStudent.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>