<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7bb7e2;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/students">
            <img src="assets/web.png" alt="" width="50" height="50"
                class="d-inline-block align-text-top">
            SMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/students">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  routerLink="/students">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>